<form action="/posts/create" method="POST" encType="multipart/form-data">
    <label for="content">Content:</label>
    <input type="text" name="content" id="content">
    <label for="pic">Upload file:</label>
    <input type="file" name="pic" id="pic">
    <button type="submit">Create post</button>
</form>