<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>IronTumblr</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="main-container">
    <nav>
      <a href="/">Home</a>
      <a href="/signup">Sign up</a>
      <a href="/login">Log in</a>
      <a href="/upload">Picture upload</a>
      <a href="/logout">Log out</a>
    </nav>
    <nav>
      <a href="/posts/index">All posts</a>
      <a href="/posts/new">Create new post</a>
    </nav>
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>